<p>
  <strong>Item:</strong>
  <%= @task.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_category_task_path(@task.category, @task)%>
<%= link_to 'Back', category_tasks_path %>
