<div class="bg-image d-flex justify-content-center align-items-center img-fluid" style="background-image: url('https://images.unsplash.com/photo-1593501695590-e441e6170c2e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80'); height: 92.8vh;">
    <div class="jumbotron text-center text-white mx-5">
        <h1 class="lead text-dark display-4 shadow rounded p-4 mx-2" id="brand"><span>Day Zero</span>: Journaling Simplified</h1>
        <p class="my-4 text-muted" id="tagline">Write Your Future Today.</p>
        <hr class="text-dark mb-2 w-50 m-auto" id="lineBreak">
        <p class="mt-3 text-dark">Click the 'Sign Up' button to begin.</p>
        <p class="lead">
            <%= link_to "Sign Up", new_user_path, class: "btn btn-primary btn-md shadow rounded" %>
        </p>
    </div>
</div>