/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "IBM Plex Sans", sans-serif !important;
  background-color: rgb(255, 251, 251) !important;
}

#logo {
  color: white;
  float: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 500;
}

#logo:hover {
  color: #e6e6e6;
  text-decoration: none;
}

.card {
  background-color: rgb(255, 251, 251);
}

.category-card {
  transition: background-color 0.5s ease;
}

.category-card:hover {
  background-color: #f7f7f7;
}

.task-card {
  transition: background-color 0.5s ease;
}

.task-card:hover {
  background-color: #f7f7f7;
}

#supIcon {
  font-size: 1rem;
  margin-left: 0.3rem;
}

#addDeadline:hover {
  color: rgb(69, 69, 219) !important;
}

/* #calendarIcon {
  margin-right: 0.4rem;
} */

#footer {
  font-size: 10px;
  color: rgb(209, 209, 209);
}

nav {
  font-size: 1.05rem;
}

.nav-item a:hover {
  color: rgb(248, 156, 156) !important;
}
