<div class="card mt-5 shadow-lg rounded">
    <div class="card-body">
        <h2 class="card-title mb-4">
            <span>Edit Journal</span>
        </h2>
        <%= render 'form', category: @category %>
    </div>
</div>

<div class="text-center mt-2">
    <%= link_to "Cancel", :back, class: 'mx-auto fw-light text-decoration-none' %>
</div>
