<h1 class="text-center mt-4">Showing all your categories</h1>


<% @categories.each_with_index do |category, index| %>
    <% if index > 1 %>
        <%= will_paginate @categories, list_classes: %w(pagination justify-content-center mt-2 btn-sm) %>
    <% end %>
<% end %>

<%= render 'category' %>
