<div class="card mt-5">
    <div class="card-body">
        <h2 class="card-title mb-4">
            <span>New Journal</span>
        </h2>
        <%= render 'form', category: @category %>
    </div>
</div>

<div class="text-center mt-2">
    <%= link_to 'Back', categories_path, class: 'mx-auto' %>
</div>

