<div class="card mt-3 mt-md-5 shadow-lg rounded">
    <div class="card-body p-4">
        <h2 class="card-title mb-4">
            <span>New Journal</span>
        </h2>
        <%= render 'form', category: @category %>
    </div>
</div>

<div class="text-center mt-3">
    <%= link_to "Cancel", :back, class: 'mx-auto fw-light text-decoration-none' %>
</div>
